# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# IDE
.vscode/
.idea/

# Data
data/*.db
data/*.csv
*.pbix

# Models
models/*.pt
models/*.pth

# OS
.DS_Store
Thumbs.db

# Tensorboard
runs/
